<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>APSN</key>
				<false/>
				<key>PluginType</key>
				<true/>
				<key>PStates</key>
				<false/>
				<key>APLF</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
			<key>NoOemTableId</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
		</array>
		<key>DisabledAML</key>
		<array>
			<string>SSDT-DDA.aml</string>
			<string>SSDT.aml</string>
			<string>SSDT-XCPM.aml</string>
			<string>SSDT-PluginType1.aml</string>
		</array>
		<key>#DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MCFG</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>CpuPm</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>Cpu0Cst</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>Cpu0Ist</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>ApCst</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>ApIst</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
		</array>
		<key>Comment-DisabledAML</key>
		<string>Disable other forms of CPU PM due to SSDT/Generate/PluginType=true</string>
		<key>FixHeaders</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>QVBTUw==</data>
					<key>Replace</key>
					<data>QVBYWA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change APSS to APXX</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>T1NJRA==</data>
					<key>Replace</key>
					<data>WFNJRA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change OSID to XSID (to avoid match against _OSI XOSI patch)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _OSI to XOSI, pair with SSDT-XOSI.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change EC0 to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SF9FQw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change H_EC to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUNEVg==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change ECDV to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC1 to EH01, optionally pair with SSDT-EH01.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC2 to EH02, optionally pair with SSDT-EH02.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RVVTQg==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EUSB to EH01, optionally pair with SSDT-EH01.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>VVNCRQ==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change USBE to EH02, optionally pair with SSDT-EH02.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change GFX0 to IGPU, optionally pair with SSDT-IGPU.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>UENJMFZJRF8=</data>
					<key>Replace</key>
					<data>UENJMElHUFU=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #1 (Thinkpad), optionally pair with SSDT-IGPU.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>VklEXwhfQURSDAAAAgA=</data>
					<key>Replace</key>
					<data>SUdQVQhfQURSDAAAAgA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #2 (Thinkpad), optionally pair with SSDT-IGPU.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>QjBEMw==</data>
					<key>Replace</key>
					<data>SERBVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change B0D3 to HDAU, optionally pair with SSDT-HDAU.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HDAS to HDEF, optionally pair with SSDT-HDEF.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>QVpBTA==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change AZAL to HDEF, optionally pair with SSDT-HDEF.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HECI to IMEI, optionally pair with SSDT-IMEI.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>TUVJXw==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change MEI to IMEI, optionally pair with SSDT-IMEI.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change SAT0 to SATA, optionally pair with SSDT-SATA.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>TFBDXw==</data>
					<key>Replace</key>
					<data>TFBDQg==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change LPC to LPCB, optionally pair with SSDT-DEHCI.aml, SSDT-DEH01.aml, SSDT-DEH02.aml, SSDT-LPC.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1BUUwE=</data>
					<key>Replace</key>
					<data>WlBUUwE=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(_PTS,1,N) to ZPTS, pair with SSDT-PTSWAK.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1BUUwk=</data>
					<key>Replace</key>
					<data>WlBUUwk=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(_PTS,1,S) to ZPTS, pair with SSDT-PTSWAK.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1dBSwE=</data>
					<key>Replace</key>
					<data>WldBSwE=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(_WAK,1,N) to ZWAK, pair with SSDT-PTSWAK.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1dBSwk=</data>
					<key>Replace</key>
					<data>WldBSwk=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(_WAK,1,S) to ZWAK, pair with SSDT-PTSWAK.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>WFdBSwA=</data>
					<key>Replace</key>
					<data>WldBSwA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(XWAK,0,N) to ZWAK, pair with SSDT-XWAK.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>WFdBSwg=</data>
					<key>Replace</key>
					<data>WldBSwg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(XWAK,0,S) to ZWAK, pair with SSDT-XWAK.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>WFNFTAA=</data>
					<key>Replace</key>
					<data>WFNFWgA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(XSEL,0,N) to XSEZ, pair with SSDT-XSEL.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>WFNFTAg=</data>
					<key>Replace</key>
					<data>WFNFWgg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(XSEL,0,S) to XSEZ, pair with SSDT-XSEL.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RVNFTAA=</data>
					<key>Replace</key>
					<data>RVNFWgA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(ESEL,0,N) to ESEZ, pair with SSDT-ESEL.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RVNFTAg=</data>
					<key>Replace</key>
					<data>RVNFWgg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(ESEL,0,S) to ESEZ, pair with SSDT-ESEL.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW, pair with SSDT-GPRW.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>VVBSVwpwEg==</data>
					<key>Replace</key>
					<data>WFBSVwpwEg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(UPRW,2,N) to XPRW, pair with SSDT-UPRW.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>AAAZABQfX1BSVwg=</data>
					<key>Replace</key>
					<data>AAAZABQfWFBSVwg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change LANC Method(_PRW,0,S) to Method(XPRW,0,..), pair with SSDT-LANCPRW.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1ExQw==</data>
					<key>Replace</key>
					<data>WFExQw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>_Q1C -&gt; XQ1C</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1ExRA==</data>
					<key>Replace</key>
					<data>WFExRA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>_Q1D -&gt; XQ1D</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUNfXw==</data>
					<key>Replace</key>
					<data>RUMwXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>EC -&gt; EC0</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixTMR</key>
				<true/>
				<key>Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
				<key>FixIPIC</key>
				<true/>
			</dict>
			<key>DropOEM_DSM</key>
			<false/>
		</dict>
		<key>AutoMerge</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>#DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Secure</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>Arguments</key>
		<string>dart=0 nv_disable=1 kext-dev-mode=1</string>
		<key>Timeout</key>
		<integer>-1</integer>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>mac_s</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Windows</string>
					<key>Disabled</key>
					<false/>
					<key>Title</key>
					<string>Windows</string>
					<key>Ignore</key>
					<false/>
				</dict>
				<dict>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
					<key>Hidden</key>
					<false/>
					<key>Disabled</key>
					<false/>
					<key>Ignore</key>
					<false/>
				</dict>
			</array>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>#ScreenResolution</key>
		<string>1024x768</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0)/Pci(0x02,0)</key>
			<dict>
				<key>#framebuffer-con2-pipe</key>
				<data>EgAAAA==</data>
				<key>#framebuffer-patch0-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con1-flags</key>
				<data>BgAAAA==</data>
				<key>#framebuffer-con1-type</key>
				<data>AAgAAA==</data>
				<key>#framebuffer-patch1-find</key>
				<data>AQAAAEAAAAAeAgAABQUJAQ==</data>
				<key>## patch0</key>
				<string>Enable internal display after sleep for 0x0a2e0008 on 10.10.2-10.12.x (c) syscl</string>
				<key>#framebuffer-con2-flags</key>
				<data>BgAAAA==</data>
				<key>#framebuffer-con3-flags</key>
				<data>BgAAAA==</data>
				<key>#framebuffer-con3-enable</key>
				<integer>1</integer>
				<key>#framebuffer-patch1-replace</key>
				<data>AQAAAEAAAAAfAgAABQUJAQ==</data>
				<key>#framebuffer-con2-type</key>
				<data>AAgAAA==</data>
				<key>#framebuffer-con3-pipe</key>
				<data>EgAAAA==</data>
				<key>#hda-gfx</key>
				<string>onboard-1</string>
				<key>framebuffer-cursormem</key>
				<data>AACQAA==</data>
				<key>#framebuffer-patch1-enable</key>
				<integer>1</integer>
				<key>device-id</key>
				<data>EgQAAA==</data>
				<key>#framebuffer-con1-enable</key>
				<integer>1</integer>
				<key>#framebuffer-patch0-find</key>
				<data>AQAAAEAAAAAeAAAABQUJAQ==</data>
				<key>#framebuffer-con1-pipe</key>
				<data>EgAAAA==</data>
				<key>## patch1</key>
				<string>Enable internal display after sleep for 0x0a2e000a, 0x0a26000a</string>
				<key>#framebuffer-con3-type</key>
				<data>AAgAAA==</data>
				<key>#framebuffer-patch0-replace</key>
				<data>AQAAAEAAAAAPAAAABQUJAQ==</data>
				<key>AAPL,ig-platform-id</key>
				<data>BgAmCg==</data>
				<key>#framebuffer-con2-enable</key>
				<integer>1</integer>
				<key>framebuffer-patch-enable</key>
				<integer>1</integer>
			</dict>
			<key>PciRoot(0)/Pci(0x03,0)</key>
			<dict>
				<key>#layout-id</key>
				<integer>3</integer>
				<key>#hda-gfx</key>
				<string>onboard-1</string>
				<key>#no-controller-patch</key>
				<integer>1</integer>
			</dict>
			<key>PciRoot(0)/Pci(0x1b,0)</key>
			<dict>
				<key>layout-id</key>
				<integer>28</integer>
			</dict>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<false/>
			<key>NameEH00</key>
			<false/>
			<key>Inject</key>
			<false/>
			<key>HighCurrent</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>MaskReplace</key>
				<data>AAAAAAD///8=</data>
				<key>Find</key>
				<data>6NQAAADrBeg=</data>
				<key>MaskFind</key>
				<data>/wD///////8=</data>
				<key>Comment</key>
				<string>KbeBS-EXT (kuckkuck)</string>
				<key>Disabled</key>
				<false/>
				<key>MatchOS</key>
				<string>10.16</string>
				<key>Replace</key>
				<data>6NQAAACQkOg=</data>
				<key>StartPattern</key>
				<data>AQAx/74UAAU=</data>
				<key>Count</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>MaskReplace</key>
				<data>AAAAAAAAAP///////wAAAA==</data>
				<key>Find</key>
				<data>6HXmDgCFwA+E+gAAAEmLRQ==</data>
				<key>MaskFind</key>
				<data>/wAAAP//////AP///////w==</data>
				<key>Comment</key>
				<string>KbeBS-SIP (kuckkuck)</string>
				<key>Disabled</key>
				<false/>
				<key>MatchOS</key>
				<string>10.16</string>
				<key>Replace</key>
				<data>6HXmDgCFwJCQkJCQkEmLRQ==</data>
				<key>StartPattern</key>
				<data>AgAAQb8BAADc</data>
				<key>Count</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>MaskReplace</key>
				<data>AAAAAAAAAAD//wAAAAAA</data>
				<key>Find</key>
				<data>/4A9JZxOAAAPhRcBAABB</data>
				<key>MaskFind</key>
				<data>////AAAA/////wD/////</data>
				<key>Comment</key>
				<string>KbeBS-KxldUnmap (vit9696, kuckkuck)</string>
				<key>Disabled</key>
				<false/>
				<key>MatchOS</key>
				<string>10.16</string>
				<key>Replace</key>
				<data>/4A9JZxOAACQ6RcBAABB</data>
				<key>StartPattern</key>
				<data>SI0VKyYlAA==</data>
				<key>Count</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>MLB</key>
		<string>C17304130CDFH31UE</string>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xE80FE137</string>
		<key>Board-ID</key>
		<string>Mac-189A3D4F975D5FFC</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0A</string>
		<key>BiosVersion</key>
		<string>MBP111.88Z.F000.B00.2004121458</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x02</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C17443401GUFH31A8</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro11,1</string>
		<key>SmUUID</key>
		<string>4657397F-0054-4864-B22A-551EFB633849</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>160.0.0.0.0</string>
		<key>SerialNumber</key>
		<string>C17K54YRFH00</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>04/12/2020</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>EnableWriteUnprotector</key>
		<false/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>EnableSafeModeSlide</key>
		<false/>
		<key>SignalAppleOS</key>
		<false/>
		<key>ProtectUefiServices</key>
		<false/>
		<key>AvoidRuntimeDefrag</key>
		<false/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>DevirtualiseMmio</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<false/>
		<key>ProvideCustomSlide</key>
		<false/>
		<key>DisableSingleUser</key>
		<false/>
		<key>ProvideConsoleGopEnable</key>
		<false/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>SetupVirtualMap</key>
		<false/>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>RebuildAppleMemoryMap</key>
		<false/>
	</dict>
</dict>
</plist>